@model IList<BibliotecaApresentacao.ViewModels.LivroViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div class="row">
        <div class="col-10">
            <h1>Acervo</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-sm btn-form float-right" href="~/Livro/Create">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Editora</th>
            <th scope="col">Assunto</th>
            <th scope="col">Classificação</th>
            <th scope="col">Localização</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in Model)
        {
            <tr>
                <td scope="col">@livro.Titulo</td>
                <td scope="col">@livro.Autor.NomeAutor</td>
                <td scope="col">@livro.Editora.NomeEditora</td>
                <td scope="col">@livro.Assunto.AssuntoObra</td>
                <td scope="col">@livro.Classificacao.ClassificacaoObra</td>
                <td scope="col">@livro.Localizacao.LocalizacaoObra</td>
                <td class="col-md-1">
                    <a class="btn btn-secondary btn-sm float-right" href="~/Livro/Details/@livro.LivroId">[+] mais</a>
                </td>
                @*<td>
                    <a class="btn btn-warning" href="~/Livro/Edit/@livro.LivroId">Editar</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="~/Livro/Delete/@livro.LivroId">Remover</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="~/ExemplarLivro/Index/@livro.LivroId">Listar</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>