@model BibliotecaApresentacao.ViewModels.PessoaViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm($"Create/{ViewBag.UsuarioId}", "Pessoa", FormMethod.Post))
{
    <div class="col">
        <div class="row">
            <div class="col">
                @Html.LabelFor(x => x.Nome, "Nome Completo: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Nome, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(x => x.Cpf, "CPF: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Cpf, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(x => x.DataDeNascimento, "Data de Nascimento: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.DataDeNascimento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(x => x.DataDeNascimento, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(x => x.Idade, "Idade: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.Idade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Idade, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(x => x.Profissao, "Profissão: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.Profissao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Profissao, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(x => x.Telefone, "Telefone: ", new { @class = "col-form-label" })
                @Html.EditorFor(x => x.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Endereco.Municipio.EstadoId, "*Estado", new { @class = "col-form-label" })
                <select id="estado" class="form-control" required="">
                    <option disabled selected value="">Selecione um estado...</option>
                    @foreach (var estado in ViewBag.Estado)
                    {
                        <option value="@estado.EstadoId">@estado.NomeEstado</option>
                    }
                </select>
            </div>
            <div class="col">
                @Html.LabelFor(model => model.Endereco.MunicipioId, "*Município: ", new { @class = "col-form-label" })
                <select id="municipio" class="form-control" required="">
                    <option>Selecione um município...</option>
                </select>
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.EnderecoId, "*Endereço: ", new { @class = "col-form-label" })
            <select name="EnderecoId" id="endereco" class="form-control col-md-7">
                <option>Selecione um endereço...</option>
            </select>
        </div>
    </div>
    <div class="col">
        <input class="btn btn-primary btn-sm btn-form" type="submit" value="Cadastrar" />
        <a class="btn btn-warning btn-sm btn-form" formnovalidate="formnovalidate" href="~/Pessoa/Index">Voltar</a>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $("#estado").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarMunicipios/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#municipio").empty();
                    $("#municipio").append('<option value="">Selecione um Município...</option>');
                    $.each(data, function (index, element) {
                        $("#municipio").append('<option value="' + element.MunicipioId + '">' + element.NomeMunicipio + '</option>');
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $("#municipio").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarEnderecos/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#endereco").empty();
                    $("#endereco").append('<option value="">Seleciona um Endereço...</option>');
                    $.each(data, function (index, element) {
                        $("#endereco").append('<option value="' + element.EnderecoId + '">' + element.Logradouro + ", " + element.NumeroResidencial + " - " + element.Bairro + '</option>');
                    });
                }
            });
        });
    });
</script>

<!------------------------------------------------------Form HTML--------------------------------------------------------------------------------------->
@*<form action="~/Pessoa/Create/@ViewBag.UsuarioId" method="post">
        <div class="col">
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="autor">Nome:</label>
                    <input type="text" class="form-control" id="autor" name="pessoaViewModel.Nome" />
                </div>
                <div class="col">
                    <label class="col-form-label" for="cpf">CPF: </label>
                    <input class="form-control" id="cpf" name="pessoaViewModel.Cpf" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" class="form-control" name="pessoaViewModel.DataDeNascimento" />
                </div>
                <div class="col">
                    <label class="col-form-label" for="idade">Idade:</label>
                    <input type="number" id="idade" class="form-control" name="pessoaViewModel.Idade" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="profissao">Profissão: </label>
                    <input class="form-control" id="profissao" name="pessoaViewModel.Profissao" />
                </div>
                <div class="col">
                    <label class="col-form-label" for="telefone">Telefone: </label>
                    <input class="form-control" id="telefone" name="pessoaViewModel.Telefone" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="estado">Estado: </label>
                    <select class="form-control" id="estado">
                        <option>Selecione um Estado...</option>
                        @foreach (var estado in ViewBag.Estado)
                        {
                            <option value="@estado.EstadoId">@estado.NomeEstado</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <label class="col-form-label" for="municipio">Município: </label>
                    <select class="form-control" id="municipio">
                        <option>Selecione um Município...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="endereco">Endereço: </label>
                    <select class="form-control col-md-9" id="endereco" name="pessoaViewModel.EnderecoId">
                        <option>Escolha um Endereço...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <input class="btn btn-primary btn-sm btn-form" type="submit" value="Cadastrar" />
            <a class="btn btn-warning btn-sm btn-form" formnovalidate="formnovalidate" href="~/Pessoa/Index" >Voltar</a>
        </div>
    </form>*@