
@{
    ViewBag.Title = "Edit";
}

<form action="~/Pessoa/Edit/@ViewBag.Pessoa.PessoaId" method="post">
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="autor">Nome:</label>
                <input class="form-control" id="autor" name="pessoaViewModel.Nome" value="@ViewBag.Pessoa.Nome" />
            </div>
            <div class="col">
                <label class="col-form-label" for="cpf">CPF: </label>
                <input class="form-control" id="cpf" name="pessoaViewModel.Cpf" value="@ViewBag.Pessoa.Cpf"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="dataNascimento">Data de Nascimento:</label>
                <input type="date" id="dataNascimento" class="form-control" name="pessoaViewModel.DataDeNascimento" value="@ViewBag.Pessoa.DataDeNascimento"/>
            </div>
            <div class="col">
                <label class="col-form-label" for="idade">Idade:</label>
                <input id="idade" class="form-control" name="pessoaViewModel.Idade" value="@ViewBag.Pessoa.Idade"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="profissao">Profissão: </label>
                <input class="form-control" id="profissao" name="pessoaViewModel.Profissao" value="@ViewBag.Pessoa.Profissao"/>
            </div>
            <div class="col">
                <label class="col-form-label" for="telefone">Telefone: </label>
                <input class="form-control" id="telefone" name="pessoaViewModel.Telefone" value="@ViewBag.Pessoa.Telefone"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="estado">Estado: </label>
                <select class="form-control" id="estado">
                    <option>Selecione um Estado...</option>
                    @foreach (var estado in ViewBag.Estado)
                    {
                        <option value="@estado.EstadoId" selected="@estado.EstadoId.Equals(ViewBag.Pessoa.Endereco.Municipio.EstadoId)">@estado.NomeEstado</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="col-form-label" for="municipio">Município: </label>
                <select class="form-control" id="municipio">
                    <option>Selecione um Município...</option>
                    <option value="@ViewBag.Pessoa.Endereco.MunicipioId">@ViewBag.Pessoa.Endereco.Municipio.NomeMunicipio</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="endereco">Endereço: </label>
                <select class="form-control col-md-9" id="endereco" name="pessoaViewModel.EnderecoId">
                    <option>Escolha um Endereço...</option>
                    <option value="@ViewBag.Pessoa.EnderecoId">@ViewBag.Pessoa.Endereco.Logradouro, @ViewBag.Pessoa.Endereco.NumeroResidencial - @ViewBag.Pessoa.Endereco.Bairro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col">
        <a class="btn btn-warning btn-form" formnovalidate="formnovalidate" href="~/Pessoa/Details/@ViewBag.Pessoa.PessoaId">Voltar</a>
        <input class="btn btn-success btn-form" type="submit" value="Salvar" />
    </div>
</form>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
        $(document).ready(function () {
        $("#estado").change(function () {
             var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarMunicipios/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#municipio").empty();
                    $("#municipio").append('<option value="">Selecione um Município...</option>');
                    $.each(data, function (index, element) {
                        $("#municipio").append('<option value="' + element.MunicipioId + '">' + element.NomeMunicipio + '</option>');
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $("#municipio").change(function () {
             var id = $(this).children("option:selected").val();
            $.ajax({
                url: "/Editora/SelecionarEnderecos/" + id,
                dataType: "JSON",
                success: function (data) {
                    $("#endereco").empty();
                    $("#endereco").append('<option value="">Seleciona um Endereço...</option>');
                    $.each(data, function (index, element) {
                        $("#endereco").append('<option value="' + element.EnderecoId + '">' + element.Logradouro + ", " + element.NumeroResidencial + " - " + element.Bairro + '</option>');
                    });
                }
            });
        });
    });
</script>