@model IEnumerable<BibliotecaApresentacao.ViewModels.ExemplarLivroViewModel>
@using BibliotecaDominio.Entidades.ObjetosValor

@{
    ViewBag.Title = "Index";
}

<div class="col">
    <div>
        <h1>Lista de Exemplares</h1>
    </div>
    <div class="row">
        <div class="col-10">
            <h4>@ViewBag.LivroTitulo</h4>
        </div>
        <div class="col-2">
            <a class="btn btn-warning btn-form" href="~/Livro/Details/@ViewBag.LivroId">Voltar</a>
            <a class="btn btn-primary btn-form" href="~/ExemplarLivro/Create/@ViewBag.LivroId">Novo</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Registro</th>
            <th scope="col">Exemplar</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exemplarLivro in Model)
        {
            <tr>
                <td>@exemplarLivro.Registro</td>
                <td>@exemplarLivro.NumeroExemplar</td>
                <!----------------------------------Exibição de Status------------------------------------>
                @if (exemplarLivro.Status == StatusExemplarLivro.Disponivel)
                {
                    <td class="col-md-1"><div class="btn btn-outline-success disabled float-right">@exemplarLivro.Status.ToString()</div></td>
                }
                @if (exemplarLivro.Status == StatusExemplarLivro.Reservado)
                {
                    <td class="col-md-1"><div class="btn btn-outline-warning disabled float-right">@exemplarLivro.Status.ToString()</div></td>
                }
                @if (exemplarLivro.Status == StatusExemplarLivro.Indisponivel)
                {
                    <td class="col-md-1"><div class="btn btn-outline-danger disabled float-right">@exemplarLivro.Status.ToString()</div></td>
                }
                <!---------------------------------Botão de Ação por Status-------------------------------->
                @if (exemplarLivro.Status == StatusExemplarLivro.Disponivel)
                {
                    <td class="col-md-1">
                        <a class="btn btn-info float-right" href="~/Emprestimo/CreateStep1/@exemplarLivro.ExemplarLivroId">Emprestar</a>
                    </td>
                }
                @if (exemplarLivro.Status == StatusExemplarLivro.Reservado)
                {
                    <td class="col-md-2">
                        <a class="btn btn-info float-right" href="#">Retirar Reserva</a>
                    </td>
                }
                @if (exemplarLivro.Status == StatusExemplarLivro.Indisponivel)
                {
                    <td class="col-md-1">
                        <a class="btn btn-info float-right" href="#">Devolver</a>
                    </td>
                }
                <td class="col-md-1">
                    <a class="btn btn-warning float-right" href="~/ExemplarLivro/Edit/@exemplarLivro.ExemplarLivroId">Editar</a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger float-right" href="~/ExemplarLivro/Delete/@exemplarLivro.ExemplarLivroId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>