@model BibliotecaApresentacao.ViewModels.DadosLoginViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <h3>Cadastro de Usuário</h3>

    <div class="col">
        <div class="row">
            <div class="col">
                @Html.LabelFor(model => model.Login, "*Login:", new { @class = "col-form-label" })
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.Senha, "*Senha:", new { @class = "col-form-label" })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col">
        <a href="~/Pessoa/Index" class="btn btn-danger btn-sm btn-form">Cancelar</a>
        <input type="submit" class="btn btn-primary btn-sm btn-form" value="Próximo" />
    </div>

}

<!------------------------------------------------Form HTML---------------------------------------------------->
@*<form action="~/DadosLogin/Create/@ViewBag.UsuarioId" method="post">
        <div class="col">
            <h1 class="align-content-center">Cadastro de Usuário</h1>
            <div class="row">
                <div class="col">
                    <label class="col-form-label" for="usuario">Usuário:</label>
                    <input class="form-control" id="usuario" name="dadosLoginViewModel.Login" />
                </div>
                <div class="col">
                    <label class="col-form-label" for="senha">Senha:</label>
                    <input type="password" class="form-control" id="senha" name="dadosLoginViewModel.Senha" />
                </div>
            </div>
        </div>
        <div class="col">
            <a href="~/Pessoa/Index" class="btn btn-danger btn-form">Cancelar</a>
            <input type="submit" class="btn btn-primary btn-form" value="Próximo" />
        </div>
    </form>*@