@model BibliotecaApresentacao.ViewModels.EmprestimoViewModel
@{
    ViewBag.Title = "CreateStep2";
}

@using (Html.BeginForm("Confirm", "Emprestimo", FormMethod.Post))
{
    <h3>Cadastro de Empréstimo</h3>
    <input hidden name="ExemplarLivroId" value="@Model.ExemplarLivro.ExemplarLivroId" />
    <input hidden name="PessoaId" value="@Model.Pessoa.PessoaId"/>
    <div class="col">
        <h5>Livro</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Título: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Titulo" />
            </div>
            <div class="col">
                <label class="col-form-label">Autor: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Autor" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label">Editora: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Editora" />
            </div>
            <div class="col">
                <label class="col-form-label">Assunto: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Assunto" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label">Classificação: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Classificacao" />
            </div>
            <div class="col">
                <label class="col-form-label">Localização: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Livro.Localizacao" />
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <h5>Exemplar</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Registro: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.Registro" />
            </div>
            <div class="col">
                <label class="col-form-label">Exemplar: </label>
                <input readonly class="form-control" value="@Model.ExemplarLivro.NumeroExemplar" />
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <h5>Pessoa:</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Usuário:</label>
                <input readonly class="form-control" value="@Model.Pessoa.Nome"/>
            </div>
            <div class="col">
                <label class="col-form-label">CPF:</label>
                <input readonly class="form-control" value="@Model.Pessoa.Cpf" />
            </div>
        </div>
    </div>
    <br/>
    <div class="col">
        <input type="submit" class="btn btn-primary btn-sm btn-form" value="Confirmar"/>
    </div>
}