@model BibliotecaApresentacao.ViewModels.EmprestimoViewModel
@{
    ViewBag.Title = "CreateStep2";
}

@using (Html.BeginForm("Confirm", "Emprestimo", FormMethod.Post))
{
    <h3>Cadastro de Empréstimo</h3>
    <input hidden name="ExemplarLivroId" value="@ViewBag.ExemplarLivro.ExemplarLivroId" />
    <input hidden name="PessoaId" value="@ViewBag.Usuario.PessoaId"/>
    <input hidden name="ExemplarLivro.LivroId" value="@ViewBag.ExemplarLivro.LivroId"/>
    <input hidden name="ExemplarLivro.ExemplarLivroId" value="@ViewBag.ExemplarLivro.ExemplarLivroId"/>
    <div class="col">
        <h5>Livro</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Título: </label>
                <input readonly class="form-control" value="@ViewBag.Titulo" />
            </div>
            <div class="col">
                <label class="col-form-label">Autor: </label>
                <input readonly class="form-control" value="@ViewBag.Autor" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label">Editora: </label>
                <input readonly class="form-control" value="@ViewBag.Editora" />
            </div>
            <div class="col">
                <label class="col-form-label">Assunto: </label>
                <input readonly class="form-control" value="@ViewBag.Assunto" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <label class="col-form-label">Classificação: </label>
                <input readonly class="form-control" value="@ViewBag.Classificacao" />
            </div>
            <div class="col">
                <label class="col-form-label">Localização: </label>
                <input readonly class="form-control" value="@ViewBag.Localizacao" />
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <h5>Exemplar</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Registro: </label>
                <input readonly class="form-control" value="@ViewBag.ExemplarLivro.Registro" />
                <input hidden name="ExemplarLivro.Registro" value="@ViewBag.ExemplarLivro.Registro"/>
            </div>
            <div class="col">
                <label class="col-form-label">Exemplar: </label>
                <input readonly class="form-control" value="@ViewBag.ExemplarLivro.NumeroExemplar" />
                <input hidden name="ExemplarLivro.NumeroExemplar" value="@ViewBag.ExemplarLivro.NumeroExemplar"/>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <h5>Pessoa:</h5>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Usuário:</label>
                <input readonly class="form-control" value="@ViewBag.Usuario.Nome"/>
            </div>
            <div class="col">
                <label class="col-form-label">CPF:</label>
                <input readonly class="form-control" value="@ViewBag.Usuario.Cpf" />
            </div>
        </div>
    </div>
    <br/>
    <div class="col">
        <input type="submit" class="btn btn-primary btn-form" value="Confirmar"/>
    </div>
}